{
	"presets": [
	  ["env", {
		"targets": {
			"browsers": ["> 5% in IN"],
			"node":"8.2.1"
		}
	  }]
	],
	"env":{
		"development":{
			"plugins":["react-hot-loader/babel"]
		}
	},
	"plugins": [
		["transform-react-jsx", { "pragma": "h" }],
		["module-resolver",{
			"root":["./src"],
			"alias":{
				"react":"preact-compat",
				"react-dom":"preact-compat"
			}
		}]
	]
}