{
	"presets": [
	  ["env", {
		"targets": {
			"browsers": ["> 5% in IN"],
			"node":"8.2.1"
		}
		}],
		["es2015",{"modules": false}]
	],
	"plugins": [
		["transform-runtime"],
		["transform-react-jsx", { "pragma": "h" }],
		["module-resolver",{
			"root":["./src"],
			"alias":{
				"react":"preact-compat",
				"react-dom":"preact-compat"
			}
		}]
	]
}